.info-form {
  display: flex;
 // background: url("../img/Bitmap.png") no-repeat center center;
  // background-size: 100% 100%;
  // background-position: 100% 100%;
  // width: 100vw;
  // height: 100vh;
  background:linear-gradient(180deg, #0A1E4C 0%, rgba(0,0,0,0.00) 90%), url("../img/Bitmap.png") center center no-repeat;
  background-size: cover;
min-height: 800px;
min-width: 100%;
max-height: 5000px;

}

  .inputs-form {
    font-family: Helvetica;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: Helvetica;
    text-align: left;
    .dropdown {
      select {
       height: 40px;
      }
    }
    ::placeholder {
      color: red;
    }

  }

  .form-fields {
    margin-top: 50px;
    margin-left: 15%;
    width: 40%;
    h4 {
      
      font-family: Helvetica;
font-size: 45px;
color: #FFFFFF;
text-align: left;
    }
  }
  .form {
    height: 100%;
    width: 100%;

    label {
      font-family: Helvetica;
font-size: 30px;
color: #FFFFFF;
text-align: left;
    }

  .gender-fields{ 
    label{
      display: inline-table;
      margin: 10px 10px;
      font-family: Helvetica;
font-size: 30px;
color: #FFFFFF;
text-align: left;
    }  
  }

  .buttons{
    margin-top: 20px;
      height: 15%;
      width: 45%;
      align-content: center;
      text-align: center;
      justify-content: center;
      margin-bottom: 50px;

  }
}

footer {
  background: #060047; /* fallback for old browsers */
  font-family: Helvetica;
  font-size: 14px;
  color: #414141;
  text-align: left;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);

  height: 70px;
  display: flex;
  align-items: center;

  .foot {
      color: white;
      margin-left: 5%;
  }
}
